extends layout

block content
  h1= title
  p Welcome to #{title}
  for message in messages
    .message #{message.text} - #{message.user}
    .date Date added: #{message.added}
  p
  a(href="/new") Create a new message!